<body class="login">
<div>
  <h2>Log in</h2>
    <form action="/login" method="POST" id="form-container">

      <label for="email">Email</label>
      <input id="email" type="text" name="username" placeholder="Your@email.com">
        <br><br>
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Your password">
    


      {{#if message}}
        <div class="error-message">{{ message }}</div>
      {{/if}}
      <br><br>

      <button>Log in</button>

      <p class="account-message">
        Don't have an account?
        <a href="/signup">Sign up</a>
      </p>

      <br><br>
      <a href="/">Go Home</a>
    </form>
</div>

{{!-- <div>
<section class="form-elegant">

    <!--Form without header-->
    <div class="card">

        <div class="card-body mx-4">

            <!--Header-->
            <div class="text-center">
                <h3 class="dark-grey-text mb-5"><strong>Sign in</strong></h3>
            </div>

            <!--Body-->
            <div class="md-form">
                <input type="text" id="Form-email1" class="form-control">
                <label for="Form-email1">Your email</label>
            </div>

            <div class="md-form pb-3">
                <input type="password" id="Form-pass1" class="form-control">
                <label for="Form-pass1">Your password</label>
                <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1"> Password?</a></p>
            </div>

            <div class="text-center mb-3">
                <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button>
            </div>

        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Not a member? <a href="/signup" class="blue-text ml-1"> Sign Up</a></p>
        </div>

    </div>
    <!--/Form without header-->

</section>
</div>
              --}}
            
</body>

