<h2>User profile</h2>
  <h4>Edit profile</h4>


  <label for="username-input">First Name</label>
  <input id="username-input" type="text" name="firstname">
    <br><br> 
  <label for="lastname-input">Last Name</label>
  <input id="lastname-input" type="text" name="lastname">
     <br><br> 
  <label for="email-input">Email</label>
  <input id="email-input" type="text" name="email" >
     <br><br> 
  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="password" placeholder="Your password">
     <br><br>
  <label for="zipcode-input">ZipCode</label>
  <input id="zipcode-input" type="text" name="zipcode" placeholder="">

  <h2>Current Pets</h2>
  <h4>Add a pet</h4>

  <label for="name">Name</label>
  <input id="name" type="text" name="name">

    <br><br> 

  <label for="type">Type</label>
  <select class="form-control">
      <option>Dog</option>
      <option>Cat</option>
      <option>Rabbit</option>
      <option>Bird</option>
      <option>Reptile</option>
      <option>Small and furry</option>
      <option>Horse</option>
      <option>Barnyard</option>

  </select>

    <br><br> 

    <br><br> 

  <label for="birthday">Birthday/Adoption day</label>
  <input id="birthday" type="text" name="birthday">



