  <div class="user-background">
  <h2>User profile</h2>
  <h4>Edit profile</h4>


  <label for="username-input">First Name</label>
  <input id="username-input" type="text" name="firstname" placeholder="">
    <br><br> 
  <label for="lastname-input">Last Name</label>
  <input id="lastname-input" type="text" name="lastname">
     <br><br> 
  <label for="email-input">Email</label>
  <input id="email-input" type="text" name="email" >
     <br><br> 
  <label for="password-input">Password</label>
  <input id="password-input" type="password" name="password" placeholder="Your password">
     <br><br>
  <label for="zipcode-input">ZipCode</label>
  <input id="zipcode-input" type="text" name="zipcode" placeholder="">

  <h2>Current Pets</h2>
  <h4>Add a pet</h4> 

   <label for="name">Name</label>
  <input id="name" type="text" name="name">

    <br><br> 

  <label for="type">Type</label>
  <select class="form-control">
      <option>Dog</option>
      <option>Cat</option>
      <option>Rabbit</option>
      <option>Bird</option>
      <option>Reptile</option>
      <option>Small and furry</option>
      <option>Horse</option>
      <option>Barnyard</option>

  </select>
  {{!-- <form id="edit-character-form" class="character-form">
        <div class="username-input">
          <label for="username-input">First Name:</label>
          <input type="text" class="edit-first" placeholder="{{user.fristname}}">
        </div>
        <div class="lastname-input">
          <label for="lastname-input">Last Name: </label>
          <input type="text" class="edit-last">
        </div>
        <div class="email-input">
          <label for="email-input">Email: </label>
          <input type="text" class="edit-email">
        </div>
        <div class="password-input">
          <label for="password-input">Passowrd: </label>
          <input type="text" class="edit-password">
        </div>
        <div class="zipcode">
          <label for="zipcode-input">Zipcode: </label>
          <input type="text" class="edit-zipcode">
        </div>
        {{!-- <button id="send-data">Update</button> --}}
      </form> --}}

    <br><br> 

    <br><br> 
{{!-- 
  <h2>Current Pets</h2>
  <h4>Add a pet</h4> 

  <label for="name">Name</label>
  <input id="name" type="text" name="name">

    <br><br> 

  <label for="type">Type</label>
  <select class="form-control">
      <option>Dog</option>
      <option>Cat</option>
      <option>Rabbit</option>
      <option>Bird</option>
      <option>Reptile</option>
      <option>Small and furry</option>
      <option>Horse</option>
      <option>Barnyard</option>

  </select> --}}

  <label for="birthday">Birthday/Adoption day</label>
  <input id="birthday" type="text" name="birthday">
  <br><br>
  <button class="update">Update profile</button>

  
  </div>



