{{!-- <h1>{{title}}</h1>
<h1>Hello</h1>
<h2>Welcome to {{title}}</h2> --}}

<a href="/logout">Log out</a>

<div class="jumbotron">
  
  <h1 class="text-center">Where pets find their furrever home</h1>
  <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil sapiente, voluptas accusamus accusantium rerum assumenda vitae? Quo impedit vitae et possimus porro rerum tempora eaque voluptas! Accusantium animi vitae incidunt!</p>
  <p class="text-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>


<div class="row">
    <h2>Pets near you</h2>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https_%2F%2Fblueprint-api-production.s3.amazonaws.com%2Fuploads%2Fcard%2Fimage%2F73775%2Fdogslovehugs.jpg" alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  
</div>




