<h1>Pet info</h1>

  <label for="name-input">Name</label>
  <input id="name-input" type="text" name="name" placeholder="">
    <br><br> 
  <label for="">Age</label>
  <input id="age-input" type="text" name="age">
     <br><br> 
  <label for="email-input">Breed</label>
  <input id="email-input" type="text" name="breed" >
     <br><br>


  